/*
selector {
prop: prop-value;
prop: prop-value;
prop: prop-value;
prop: prop-value;
prop: prop-value;
prop: prop-value;
}
*/
.page-title {
    color: red;
}
h1.paragraph {
    font-size: 20px;
    line-height: 1.5;
}
.page-title {
    color: gray;
    text-transform: uppercase;
}

/*
tag, psevdo-elements -1
class, pseudo-class -> 10
id -> 100
inline -> 1000

!important -> MAX

*/
.list a {
    text-decoration: none;
}
.list-item > a{
    font-size:20px;
}
.list-link {
    color:red;
}
.page-body {
    margin: 0;
    font-family: sans-serif;
}
.page-nav {
    background-color: midnightblue;
    padding: 10 px 30px;
}
.list {
    padding-left:0;
    margin: 0;
    list-style: none;
    text-align: right;
}
.logo  {
    font-size: 30px;
    color:wheat;
    text-transform: capitalize;
    font-variant: small-caps;
}

a {
    text-decoration: none;
}
.list-item {
    display: inline;
    margin-left:30px  ;
}
.picture {
    width:  100%;
    height: 400px;
}
