.page-title {
   text-align: center;
}
/* .floating-element {
   float: right;
}
.floating-element:last-of-type {
   float: left;
}
.text-block {
   font-size: 30px;
   border: 1px solid #000;
}
.clearfix::after {
   content: "";
   display: table;
   clear: both;
} */

.wrapper {
   width: 80%;
   height: 80vh;

   /* height: 400vw; */

   margin-left: auto;
   margin-right: auto;
   border: 2px groove #000;
   padding: 20px;
   position: relative;
}
.pos-el {
   width: 100px;
   height: 100px;
   border: 1px solid #000;
}
.pos-el--static {
   position: static;
   left: 50px;
   background-color: forestgreen;
}
.pos-el--relative {
   background-color: goldenrod;
   position: relative;
   left: -50px;
   top: -150px;
   z-index: 1;
}

.pos-el--absolute {
   position: absolute;
   left: 0;
   top: 0;
   background-color: indianred;
}
.pos-el--fixed {
   position: fixed;
   background-color: indigo;
   right: 50px;
   bottom: 50px;
}

.text-wrapper {
   height: 200px;
   width: 300px;
   overflow: auto;
}
.sticky {
   position: sticky;
   left: 0;
   top: 0;
   background-color: rgba(255, 255, 255, 1);
}
