.films-container {
    margin: 10px;
    display: grid;
    align-content: stretch;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

ul {
    list-style: none;
}
