.flex-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  flex-direction: column;
  height: 600px;
}
.flex-element {
  background-color: silver;
  margin: 10px;
  flex-grow: 1;
  width: 300px;
}
.flex-element:nth-child(1) {
  height: 100%;
  width: calc(100% - 340px);
}
