* {
  margin: 0;
  padding: 0;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
}
.menu-list {
  padding: 0;
  margin: 0;
}

.menu-list > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: -25.5px;
}
.menu-list > ul li a {
  display: block;
  padding: 72px 72px 50px;
  font-size: 18px;
  color: #ff0000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: bold;
}
.title {
  margin-top: 49px;
  text-align: center;
  color: #373737;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  font-size: 22px;
  line-height: 27px;
}
.title-text {
  margin-top: 38px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin-bottom: 28px;
}
.dws {
  text-align: center;
  padding-top: 84px;
}
.button {
  border: 4px solid #ff0000;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: #ff0000;
  padding: 16px;
  border-radius: 4px;
  font-family: Montserrat, sans-serif;
}
footer {
  width: 94%;
  padding: 1%;
  margin-top: 82px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.4000000953674316px;
  text-align: right;
  margin-bottom: 29px;
}
