.flex-container {
  list-style: none;
  height: 400px;
  padding: 15px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;

  /*flex-direction: column;*/
  /*align-content: flex-start; выравние рядов*/
}
.flex-element {
  height: 100px;
  width: 100px;
  border: 2px ridge green;
  flex-basis: 303px; /* ширина вдоль своей оси,либо высота либо ширина*/
  flex: 1 /*flex grow*/ 3 /*flex-shirt*/ 300px; /* flex-basis*/

  /*flex-grow: 1; /* позовляет елементу занимать всё свободное пространоство*/
}
.flex-element:nth-child(3) {
  /* flex-grow: 3; /* позовляет елементу занимать всё свободное пространоство*/
  /*flex-shrink: 0;  оддаёт своё пространство */
  align-self: flex-end;
  order: 1; /* меняет позицыю елемента(браузер поставит в конец) */
}
