.page-body {
   font-family: sans-serif;
}
.container {
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 169px;
}

.banner {
   background-image: url(../img/banner-bgd.jpg);
   background-size: cover;
   padding-top: 500px;
   padding-bottom: 149px;
   color: #fff;
}
.banner-title {
   text-transform: uppercase;
   font-size: 48px;
   line-height: 59px;
   margin-bottom: 15px;
   margin-top: 0;
}
.banner-description {
   margin-top: 0;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 22px;
}
.banner-slogan {
   margin-top: 0;
   border: 1px solid #ffffff;
   background-color: rgba(0, 0, 0, 0.2);
   padding: 38px 31px;
   font-size: 54px;
   line-height: 66px;
   text-transform: uppercase;
   display: inline-block;
}
.accent-color {
   color: #f48e0b;
}
.banner-slogan .accent-color {
   margin-right: 52px;
}

.services {
   padding-bottom: 195px;
}

.section-title {
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   line-height: 22px;
   margin-bottom: 0;
   margin-top: 0;
   color: #333333;
}
.section-description {
   font-size: 17px;
   line-height: 24px;
   text-align: center;
   color: #4d4943;
   margin-top: 28.5px;
   margin-bottom: 45.5px;
}

.section-line {
   height: 7px;
   background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
   border: none;
   width: 62px;
   margin-bottom: 42px;
}
.services-list {
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.services-list-item {
   width: 268px;
   text-align: center;
   padding-bottom: 35px;
   border-bottom: 6px solid #333333;
}
.item-title {
   background-color: #333333;
   padding: 24px 0 17px;
   color: #ffffff;
   margin-bottom: 30px;
}

.item-icon {
   height: 50px;
   object-fit: contain;
   object-position: center;
}

.item-text {
   margin-top: 30px;
   font-size: 14px;
   font-weight: 300;
   line-height: 17px;
   color: #505050;
   min-height: 70px;
}
.item-line {
   width: 66px;
   height: 6px;
   border: none;
   background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
}
.title-offer {
   font-size: 18px;
   line-height: 22px;
   color: #505050;
   margin-top: 28px;
   margin-bottom: 13px;
}
.offer-list {
   padding: 0;
   margin: 0;
   list-style: none;
}
.offer-text {
   color: #505050;
   font-weight: 300;
   font-size: 14px;
   line-height: 20px;
}

.about-us {
   padding-bottom: 124px;
}

.block-about-us {
   display: flex;
}
.about-us-services {
   display: flex;
   width: 50%;
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
   list-style: none;
   flex-wrap: wrap;
   justify-content: space-between;
}

.about-us-services-item {
   width: 270px;
   margin-bottom: 22px;
}

.about-us-services-link {
   text-decoration: none;
   color: #ffffff;
}

.about-us-services-link-text {
   display: block;
   width: 117px;
   background-color: #333333;
   padding-left: 17px;
   padding-top: 14px;
   padding-bottom: 14px;
   font-size: 14px;
   line-height: 14px;
}

.about-us-services-description {
   width: 50%;
   padding-left: 30px;
}

.about-us-services-title {
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 22px;
}

.about-us-services-text {
   font-weight: 300;
   font-size: 14px;
   line-height: 22px;
   color: #505050;
   margin-bottom: 36px;
   margin-top: 0;
}

.about-us-services-button {
   display: inline-block;
   background-color: #f1ad1d;
   color: #fff;
   padding: 19px 27px;
   text-decoration: none;
}

.filter-work {
   list-style: none;
   padding-left: 0;

   display: grid;
   grid-auto-flow: column;
   grid-column-gap: 16px;
   justify-content: center;
}
.filter-work-link{
text-decoration: none;
color:#333333;
font-weight: 300;
font-size: 14px;
line-height: 14px;
border:4px solid #333333 ;
box-sizing:content-box;

}
.filter-work-link-active{
 background-color:#333333;
 color:  #F1AD1D;
}
.work-list{
   display: grid;
   list-style: none;
   padding-left: 0;
   grid-template-columns:repeat(4, 1fr);
   grid-row: 271px;
   background-color: navy;
   row-gap: 15px;
   column-gap: 15px;
}
.filter-work-link:hower{
   background-color: #333333;
   color:#F1AD1D;
}
.nav-header{
   display: flex;
   margin-top: 0%;
   padding-top: 0;
   height: 53px;
   width: 1069px;
   border-bottom: 3px solid #F1B128;
   padding-bottom: 22px;
   width: 100%;
}
 

.nav-header-list{
   list-style: none;
   margin-top: 0%;
   padding-top: 0;
   margin-left:261px;
   display: flex;
   font-family: Lato,sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
}
.nav-header-item{
margin-left: 69px;
color #3D3D3D;
text-transform: uppercase;
}
.nav-header-item-link:hover{
   color:#F1B128;   
}
.nav-header-item-link{
   text-decoration: none;
   color: #3D3D3D;;
}
.items-container{
   width: 370px;
}
.container-item2{
   display: flex;
   
}
.img-pensile{
   height: 13px;
   width: 13px;
   background-color: black;
   padding:12px ;
   
}
.title-of-item-container{
   font-family: Montserrat,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #333333;
}
.container-item3{
   font-family: Lato,sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #505050;
}
.list-of-item5-container{
list-style: none;
margin-left: 0;
display: flex;
font-family: Lato,sans-serif;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
color: #828282;
}
.line2-of-item-container{
width: 374px;
padding:1px;
color: #333333;
background-color: #333333;
padding-left: 0;
margin-left: 0;
}
.item2-of-list-container{
   padding-left: 50px;
}