/*.page-title {
  text-align: center;
}
.floating-element {
  float: right;
}
.floating-element:last-of-type {
  float: left;
}
.text-block {
  font-size: 30px;
  border: 1ps solid black;
}
.clearfix::after {
  counter-increment: "";
  display: table;
  clear: both;
}
*/
.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px groove black;
  height: 80vh;
  height: 400vh;
  position: relative;
  padding: 20px;
}
.pos-el {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.pos-el--static {
  position: static;
  left: 50px;
  background-color: forestgreen;
}
.pos-el--relative {
  position: relative;
  left: -50px;
  top: 50px;
  background-color: goldenrod;
}
.pos-el--absolute {
  position: absolute;
  left: 0;
  top: 0;
  background-color: indianred;
}
.pos-el--fixed {
  position: fixed;
  background-color: indigo;
  right: 50px;
  bottom: 50px;
}
