li {
   /* display: list-item; */
   /* display: block; */

   /* display: inline-block; */
   /* vertical-align: middle; baseline */

   /* display: block; */
   /* margin-left: auto; */
   /* margin-right: auto; */
   /* width: 300px; */
   /* margin-top: 20%; */
   padding: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 30px;
   font-weight: 700;
   border: 2px solid #000;

   width: 50%;
   box-sizing: border-box;

   /* height: 200px; */
   display: flex;
   justify-content: center;
   align-items: center;
}
li span {
   margin: auto;
}
ul {
   /* text-align: right; */
   list-style: none;
   padding: 20px;
   height: 400px;
   border: 2px groove #f00;

   display: flex;
   justify-content: flex-start;
   justify-content: flex-end;
   justify-content: center;
   justify-content: space-around;
   justify-content: space-between;
   justify-content: space-evenly;

   /* flex-wrap: wrap; */
   align-items: stretch;
   align-items: flex-start;

   flex-direction: column-reverse;
}
.text {
   /* display: list-item; */
   display: none;
}
