.flex-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.flex-element {
  background-color: silver;
  margin: 10px;
  font-size: 60px;
  padding: 50px 0;
}

.flex-element:nth-child(2) {
    margin-right:auto: ;
}
.flex-element:nth-child(3) {
  margin-left: auto;
}
