*,
*::after
*::before {
box-sizing: border-box; /* бывает ещё content-box  */
}

.page,
.page-body {
    height: 100%;
}

.page-body {
    margin: 0;
    font-family: sans-serif;
    
}

.page-title {
    font-size: 30px;
    font-size: 2em; /* -> 1 размер шрифта элемента*/
    font-size: 2rem; /* -> 1 размер шрифта ::root (html) элемента*/
    border: 1px solid #000;
    width: 40%;
    width: 50vw;
    width: calc(100% - 100px); 
    width: 400px;   
    padding: 20px;
}
 .text {
     width: 400px;
    min-height: 100px;
     margin-left:auto;
    margin-right:auto;
    border: 1px solid #00f;
    display: inline-block; 
    
    padding: 40px 0;
}


