.background-with {
   box-sizing: border-box;
   height: 300px;
   background-size: contain;
   background-position: center;

   background-image: url(../img/smile.jpeg);

   font-family: "Roboto", Arial, sans-serif;
}
/*
 
/
./
../

*/
