.container {
  width: 1280px;
  margin: 0 auto;
}

.header-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  margin-top: 61px;
}
.header-link {
  text-decoration: none;
  color: black;
}
.header-word {
  color: #00d0ffdc;
}

/*.background-nav {
  position: absolute;
  margin-top: 38px;
  height: 72px;
  background-color: #35444f;
}*/
.background-nav {
  background-color: #35444f;
  margin-top: 64px;
  height: 69px;
}

.background-nav > ul li:nth-child(2) {
  border-left: 1px solid white;
}
.background-nav > ul li:nth-child(3) {
  border-left: 1px solid white;
}
.background-nav > ul li:nth-child(4) {
  border-left: 1px solid white;
}
.background-nav > ul li:nth-child(5) {
  border-left: 1px solid white;
}

.nav {
  text-align: center;
}

.nav-element {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  padding: 25px;
  color: #ffffff;
  vertical-align: middle;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.main-inform {
  width: 885px;
}
section {
  margin-top: 51px;
  margin-left: 344px;
  padding: 1px 16px;
}
.img-block {
  height: 529px;
  width: 885px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-block {
  margin-top: 37px;
  width: 885px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 344px;
  border: 1px solid #ccc;
  position: absolute;
  height: 399px;
  overflow: auto;
}
.sidebar a {
  margin-top: 18px;
  margin-left: 42px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  display: block;
  color: #495863;
  padding: 16px;
  text-decoration: none;
}
.footer-list {
  margin-top: 54px;
  margin-left: 40px;
  display: flex;
  margin-bottom: 30px;
}
.footer-list-element {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  padding: 13px;
}
.footer-list-link {
  text-decoration: none;
  color: rgba(1, 1, 1, 1);
}
footer {
  background: rgba(99, 105, 110, 0.48);
}
.footer-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding-left: 82px;
}
