.flex-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}
.flex-element {
  font-size: 140px;
  width: calc((100% - 40px) / 3);
  background-color: silver;
  margin-bottom: 20px;
}
