body {
  min-width: 1200px;
}
header {
  background-image: url(../img/Header/section1.jpg);
  background-size: cover;
  height: 1012px;
}
.nav {
  background-color: rgba(94, 93, 88, 0.6);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}
.nav-item-first {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: white;
}
.nav-first-link {
  text-decoration: none;
  color: white;
}
.nav-ham {
  font-weight: 700;
  color: aqua;
}
.nav-h {
  background-image: url(../img/Header/Polygon1.svg);
  padding: 10px;
  padding-right: 12px;
  background-size: cover;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  margin-right: 6px;
}
.nav-item-second {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  text-transform: uppercase;
  display: flex;
  gap: 21px;
  height: 22px;
}
.nav-list-item {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.nav-list-item:hover {
  color: aqua;
  border-bottom: 1px solid aqua;
  padding-bottom: 70px;
}
.header-container {
  height: 897px;
}
.header-text-first {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1px;
  color: white;
  text-transform: uppercase;
  padding-top: 264px;
  font-weight: 700;
  text-align: center;
}
.header-section-span {
  font-weight: 700;
  color: aqua;
}
.header-text-second {
  margin-top: 86px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  line-height: 1px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.header-text-trirty {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1px;
  color: #d4d4d4;
  font-weight: 400;
  margin-top: 78px;
  text-align: center;
}
.header-buttons {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
}
.header-button-item {
  height: 64px;
  width: 168px;
  padding: 17px;
  background-color: aqua;
  border-top: 4px solid white;
  border-radius: 4px;
  text-align: center;
  align-items: center;
}
.header-button-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-choice {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
.services-choice-block {
  min-width: 475.6px;
  height: 377px;
  display: flex;
  flex-direction: column;
}
.black {
  background-color: rgba(28, 42, 51, 1);
}
.aqua {
  background-color: rgba(24, 207, 171, 1);
}
.choice-block-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 110px;
}
.white {
  color: white;
}
.choice-block-img {
  margin: 0 auto;
  margin-top: 100px;
}

.first-type-img {
  margin-top: 97px;
  margin-bottom: 48px;
}
.second-type-img {
  margin-top: 108px;
  margin-bottom: 59px;
}
.our-services-container {
  height: 530px;
}
.title-of-container {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: rgba(78, 78, 78, 1);
  text-align: center;
  padding-top: 80px;
}
.line-under-title {
  border: 1px solid rgba(24, 207, 171, 1);
  width: 79px;
  margin: 0 auto;
  margin-top: 20px;
}
.our-amazing-list {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  color: rgba(113, 113, 113, 1);
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 45px;
}

.services-menu-content {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  height: 140px;
  margin-bottom: 105px;
  width: 1200px;
  margin: 0 auto;
}

.image-service {
  height: 140px;
  margin-right:20px ;
}

.content {
  flex-grow: 5;
  font-family: 'Montserrat', sans-serif;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  text-align: justify;
  overflow: hidden;
  margin-left: 20px;
}

.list-menu {
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 50px;
}

.list-menu-item {
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #717171;
  font-size: 16px;
}

.li-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
  flex-grow: 1;
  font-family: 'Montserrat', sans-serif;
  color: #717171;
  height: 70px;
  background-color: rgb(248, 252, 254);
  border: 1px solid rgb(236, 236, 236);
  list-style-type: none;
  position: relative;
}
.active {
  color: #fff;
  background-color: rgb(24, 207, 171);
  border: 1px solid rgb(24, 207, 171);
}

.active::after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid rgb(24, 207, 171);
  content: '';
  display: block;
  height: 9px;
  width: 20px;
  position: absolute;
  top: 68px;
}
.our-services-list {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  color: rgba(113, 113, 113, 1);
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 45px;
}
.services-list-item {
  width: 192px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-list-item:hover {
  border: 1px solid rgba(24, 207, 171, 1);
}
.amazing-item-link {
  text-decoration: none;
  color: rgba(113, 113, 113, 1);
}

.services-item-link {
  text-decoration: none;
  color: rgba(113, 113, 113, 1);
}


.tabs_block{
  padding: 20px;
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  display: none;
}
.tabs_block_item{
  display: flex;
  width: 1046px;
  margin:0 auto
}

.block_item{
  padding-left: 15px;
  display: block;
  align-self: center;
}
.hidden_tabs_block{
  display: flex;
  width: 1042px;
  margin: 0 auto;
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
}
.tabs_block:target{
  display: block;
}

.tabs_block:target .hidden_tabs_block{
  display: none;
}

.buyinstall-section {
  height: 476px;
  background-image: url(../img/buy-install-section/section2.jpg);
  background-size: cover;
}
.title-buyinstall-section {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  text-align: center;
  padding-top: 126px;
}
.undertitle-buyinstall-section {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: rgba(216, 216, 216, 1);
  text-align: center;
  padding-top: 12px;
}
.buyinstall-button-item {
  height: 64px;
  width: 168px;
  padding: 17px;
  background-color: aqua;
  border-top: 4px solid white;
  border-radius: 4px;
  text-align: center;
}
.buyinstall-button-link {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buyinstall-button {
  padding-top: 83px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
}
/* OUR Amazing Work */
.OurAmazingWork-container {
  min-height: 1212px;
}
  .amazing-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 252, 254);
}

.celeste-line::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 130px;
    position: absolute;
}

.celeste-line::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 140px;
    position: absolute;
}

.list-amazing {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    margin: 0 auto;
    flex-direction: row;
    height: 60px;
    background-color: white;
}

.li-amazing {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 14px;
    border: 1px solid rgb(236, 236, 236);
    flex-grow: 1;
    list-style-type: none;
    
}

.li-amazing:hover {
    color: #18cfab;
    border: 2px solid #18cfab;
    cursor: pointer;
}

.active-amazing {
    color: #18cfab;
    border: 2px solid #18cfab;
}

.menu-amazing-block {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

.image-amazing {
    width: 100%;
}

.amazing-items {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 70px;
    width: 1160px;
}

.margin-bottom {
    margin-bottom: 230px;
}

.items-image {
    position: relative;
    height: 210px;
    width: 290px;
    margin: 0;
    padding: 0;
}

.load-more {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 100px;
    transition: all .3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-left: 0 auto;
    left: calc(50% - 82.5px);
    position: absolute;
}

.load-more:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    background-color: #00a096;
    transform: translateY(-5px);
    transition: all .3s;
}

.hover-amazing-items {
    display: flex;
    justify-content: center;
    border-top: 3px solid #18cfab;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    background: rgb(248, 252, 254);
    top: 0;
    position: absolute;
    height: 211px;
    width: 100%;
    transition: all .7s;
}

.items-image:hover .hover-amazing-items {
    opacity: 1;
}
.fa-link-circle {
  color: #18cfab;
  font-size: 15px;
}
.fa-search-link {
  color: #b8b8b8;
  margin-left: 10px;
  font-size: 22px;
}
.fa-square-circle {
  color: #fff;
  font-size: 15px;
}

a{
   text-decoration: none;
}

.search-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.link {
    border: 2px solid #18cfab;
    margin-right: 5px;
}

.search {
    background-color: #18cfab;
    margin-left: 5px;
}

.hover-creative-design {
    margin-top: 34px;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.hover-web-design {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
}
/* .OurAmazingWork-block-item{
  width: 285px;
  height: 211px;
  padding: 0;
  margin: 0;
 
} */
.OurAmazingWork-border {
  border: 1px solid rgba(218, 218, 218, 1);
}
.OurAmazingWork-button {
  width: 168px;
  height: 63px;
  background-color: rgba(24, 207, 171, 1);
  margin: 0 auto;
  margin-top: 70px;
}
.OurAmazingWork-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  gap: 15px;
}
.OurAmazingWork-button-item {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-weight: 700;
}

/* breaking news */
.breakingnews-container {
  height: 958px;
}
.breakingnews-section {
  width: 1160px;
  margin: 0 auto;
}
.breakingnews-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 69px;
}
.breakingnews-block-link {
  text-decoration: none;
}
.breakingnews-block-link:hover .data-of-item {
  background-color: rgba(24, 207, 171, 1);
}
.breakingnews-block-link:hover .breakingnews-item-title {
  color: rgba(24, 207, 171, 1);
}
.breakingnews-block-item {
  position: relative;
  width: 263px;
}
.data-of-item {
  position: absolute;
  top: 0;
  right: 0;
  height: 68px;
  width: 70px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(32, 62, 56, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.breakingnews-item-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17.9885px;
  line-height: 39px;
  color: rgba(113, 113, 113, 1);
  padding-left: 16px;
}
.breakingnews-item-comment {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: rgba(119, 119, 119, 1);
  gap: 10px;
  padding-left: 15px;
}
/* What People Say About */


.what-people-say {
  background-image: url("../img/What\ people\ say/section-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.people-say-background {
  display: flex;
  justify-content: center;
  background-color: rgba(46, 74, 91, 0.5);
}

.title-people{
  color: white;
  margin-bottom: 34px;
}
.content-block-people {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 1160px;
}

.authors-main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.services-people-say {
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  position: relative;
  color: #ffffff;
}

.people-say-line::before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: #18cfab;
  top: 170px;
  left: 250px;
  position: absolute;
}

.people-say-line::after {
  content: '';
  width: 80px;
  height: 1px;
  background-color: #18cfab;
  top: 173px;
  left: 260px;
  position: absolute;
}

.description-author {
  font-family: 'Montserrat', sans-serif;
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  margin-top: 46px;
  text-align: center;
}

.fa-quote-left-people-say {
  color: #18cfab;
  font-size: 30px;
  margin-top: 105px;
}

.name-author {
  font-family: 'Montserrat', sans-serif;
  color: #18cfab;
  font-size: 16px;
  font-weight: 700;
  margin-top: 43px;
}

.position-author {
  font-family: 'Montserrat', sans-serif;
  color: #bbbbbb;
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
}

.mini-circle-photo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
  transition: all .3s;
  margin: 0 20px;
}

.mini-circle-photo:hover {
  cursor: pointer;
}

.mini-circle-border {
  border: 1px solid #18cfab;
  transform: translateY(-10px);
  transition: all .3s;
}

.image-block-author {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #18cfab;
  width: 140px;
  height: 140px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 27px;
  box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.image-author {
  height: 100%;
}

.scroll-block-authors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 480px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(188, 188, 188);
}

.square:hover {
  background-color: #18cfab;
  cursor: pointer;
}

.fa-angle {
  color: white;
  font-size: 13px;
}

.karusel {
  display: flex;
}



footer {
  height: 121px;
  background-color: rgba(34, 53, 63, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #aeaeae;
}
.footer-span {
  color: rgb(74, 204, 178);
}
