form {
  margin: 30px auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(218, 131, 131);
  padding: 15px;
}
.form-element:invalid {
  box-shadow: none;
  border: 2px dotted red;
}
.form-element:focus {
  color: blue;
}
