.page,
.page-body {
   height: 100%;
}
.page-body {
   margin: 0;
   font-family: sans-serif;
}
.container {
   width: 1170px;
   margin-left: auto;
   margin-right: auto;
}

.banner {
   background-image: url(../img/banner-bgd.jpg);
   background-size: cover;
   padding-top: 500px;
   padding-bottom: 149px;
   color: #fff;
}
.banner-title {
   text-transform: uppercase;
   font-size: 48px;
   line-height: 59px;
   margin-bottom: 15px;
   margin-top: 0;
}
.banner-description {
   margin-top: 0;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 22px;
}
.banner-slogan {
   margin-top: 0;
   border: 1px solid #ffffff;
   background-color: rgba(0, 0, 0, 0.2);
   padding: 38px 31px;
   font-size: 54px;
   line-height: 66px;
   text-transform: uppercase;
   display: inline-block;
}
.accent-color {
   color: #f48e0b;
}
.banner-slogan .accent-color {
   margin-right: 52px;
}

.services {
   padding-bottom: 195px;
}

.section-title {
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   line-height: 22px;
   margin-bottom: 0;
   margin-top: 0;
   color: #333333;
}
.section-description {
   font-size: 17px;
   line-height: 24px;
   text-align: center;
   color: #4d4943;
   margin-top: 28.5px;
   margin-bottom: 45.5px;
}

.section-line {
   height: 7px;
   background: linear-gradient(0deg, #F1AD1D, #F1AD1D),
   linear-gradient(0deg, #F48E0B, #F48E0B);
   border: none;
   width: 62px;
   margin-bottom:52px;
}
.services-list {
   padding:0;
   margin:0;
   list-style: none;
   text-align: center   ;
}

.services-list-item {
   width: 268px;
   margin-left: 27px;
   display: inline-block;
   vertical-align: top;
   text-align: center;
}
.first-item {
   margin-left: 0;
}
.item-title {
   background-color:#333333;
   text-align: center;
   padding: 24px 0 17px;
   color: #ffffff;
   margin-bottom:30px ;
}
.item-text {
   margin-top: 30px;
   font-size: 14px;
   font-weight: 300;
   line-height: 17px;
   color: #505050;
   min-height:70px;
}
.item-icon {
   height: 50px;
   object-fit: contain;
   object-position: center;
}

.span {
   color: orange
}

.about-us {
   padding-bottom: 124px;

}