.page-title{
    text-align: center;
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.page-title::before{
    content: "";
   position: absolute;
   left: -30px;
   top: 0;
   width: 0;
   height: 0;
   border: 10px solid transparent;
   border-left: 20px solid skyblue;
  
}
.page-title::after{
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 20px solid skyblue;
 }
.list-item :first-child{
color: green;
}
.list-item:last-child{
    font-size: 1.5em    ;
}
.list-item p:first-of-type{
    text-decoration: underline fuchsia;
}
.list-item p:last-of-type{
    text-transform: uppercase;
}
.list-item:nth-child(2){
    color: gold;
}
/*
:hover
:active

only for links
:link:visited

fore interactive elements
:focus,

-most of famous 

utils помогательные 
:not()
*/
.link{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    font-size:30px;
    font-weight: 700;
    width: 100px;
    padding: 10px;
}

.link:visited{
    color: gold;
}
.link:hover {
    border-right-color:#f5f5f5; /* В таком же порядки или не будет нормально работать*/
} 
.link:active{
    background-color: #f5f4;
}
.link:active::after{
    content: "->";
    margin-left: 5px;
    font-size: 2em;
}
.link:focus{
    border: 2px dashed #f00;
}
