table {
  border: 1px solid black;
  border-collapse: separate;
}
td,
th {
  border: 1px solid black;
}
.yellow-bgd {
  background-color: yellow;
}
.blue-bgd {
  background-color: blue;
}
.red-bgd {
  background-color: red;
}
