.container {
  min-height: 100vh;
  background-color: black;
}
.title-of-titles {
  text-align: center;
  padding-bottom: 200px;
}
.titles {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 570%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(700px) rotateX(19deg);
  color: yellow;
}
.titles::after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  pointer-events: none;
}
.title-content {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 1s infinite;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: 17%;
  }
}
