.grid-container {
    display: grid; /* по умолчанию выставляет елементы в столбик*/ 
    /*grid-auto-flow: column; /* выставляет колонкаМИ*/
    grid-auto-flow:row;/* выставляет в столбики*/
 
     grid-auto-rows: 150px 300px 200px;
     grid-template-rows: 100px 150px;
   
     grid-template-columns:repeat(auto-fill, 200px); 
    /*grid-auto-columns: 200px; /*Даёт размер всем остальным колонкам-столбикам*/

    grid-template-areas: 
    "item1 item2 . item3"
    "item4 item4 item5 ."
    ". item6 item7 item8";
}
    .grid-element:nth-child(1){
     grid-area: item1;
    }
    .grid-element:nth-child(2){
        grid-area: item2;
    }
    .grid-element:nth-child(3){
        grid-area: item3;
    }
    .grid-element:nth-child(4){
        grid-area: item4;
    }
    .grid-element:nth-child(5){
        grid-area: item5;
    }
    .grid-element:nth-child(6){
        grid-area: item6;
    }
    .grid-element:nth-child(7){
        grid-area: item7;
    }
    .grid-element:nth-child(8){
        grid-area: item8;
    }


.grid-element{
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: purple;
    border:1px solid black;

}